* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.display {
  height: 50px;
}

.numeric-button {
  background-color: lightgray !important;
  border-color: black;
  max-width: 100%;
}

.operator-button {
  background-color: lightblue !important;
  border-color: black;
}

.outer-box {
  max-width: 300px;
  background-color: lightcyan;
  padding: 0;
  margin: 0, auto;
  border-style: inset;
}

.row-padding {
  margin-left: 1%;
  margin-right: 1%;
}